{ :imap_address     => "mail.<<DOMAIN>>",
  :imap_user        => "<<USERNAME>>@<<DOMAIN>>",
  :imap_password    => "<<PASSWORD>>",
  :smtp_address     => "mail.<<DOMAIN>>",
  :smtp_user        => "<<USERNAME>>@<<DOMAIN>>",
  :smtp_password    => "<<PASSWORD>>",
  :domain           => "<<DOMAIN>>",
  :default_address  => "<<USERNAME>>@<<DOMAIN>>",
  :polling_interval => 10,
  :templates_dir    => "views"
}
