imap.address   = "mail.<<DOMAIN>>"
imap.user      = "<<USERNAME>>@<<DOMAIN>>"
imap.password  = "<<PASSWORD>>"

smtp.address   = "mail.<<DOMAIN>>"
smtp.user      = "<<USER>>@<<DOMAIN>>"
smtp.password  = "<<PASSWORD>>" 

service.domain           = "<<DOMAIN>>"
service.templates_dir    = "views"
service.default_sender   = "<<USERNAME>>@<<DOMAIN>>"
service.polling_interval = 10
