imap.address   = "mail.<<DOMAIN>>"
imap.user      = "<<USERNAME>>@<<DOMAIN>>"
imap.password  = "<<PASSWORD>>"

smtp.address   = "mail.<<DOMAIN>>"
smtp.user      = "<<USERNAME>>@<<DOMAIN>>"
smtp.password  = "<<PASSWORD>>" 

service.domain           = "<<DOMAIN>>"
service.templates_dir    = "views"
service.default_sender   = "<<USERNAME>>@<<DOMAIN>>"
service.polling_interval = 10

application.simplelist_db   = "db/lists/simple_mailing_list.store"
application.librelist_db    = "db/lists/libre.store"
application.ping_email      = "<<USERNAME>>+ping@<<DOMAIN>>"
application.live_test_delay = 5
