CONFIGURATION_DATA = {
  :imap_address   => "mail.example.com",
  :imap_user      => "example@example.com",
  :imap_password  => "kittens",
  :smtp_address   => "mail.example.com",
  :smtp_user      => "example@example.com",
  :smtp_password  => "kittens",
  :domain         => "example.com",
  :default_sender => "example@example.com"
}
